<div class="<%= element.name %>">
	<h4><%= element.describe %></h4>
	<table class="diff" summary="table for <%= element.describe %>">
		<tr><th>Expected</th> <th>Generated</th></tr>
		<%= replace_tabs(element.content) %>
	</table>
</div>
