<div class="<%= element.name %>">
	<table summary="table for <%= element.describe  %>">
		<tr><th><%= element.describe %></th></tr>
		<tr><td>
			<pre class="code"><%= replace_tabs(element.content) %></pre>
		</td></tr>
	</table>
</div>
