<div class="<%= element.name %>">
	<h4><%= element.describe %></h4>
	<table summary="table for <%= element.describe %>">
		<tr><td>
			<pre class="code"><%= replace_tabs(element.content) %></pre>
		</td></tr>
	</table>
</div>
