/* color scheme from FitNesse */
.red {
    background-color: #FFAAAA;
}
.green {
    background-color: #AAFFAA;
}
.yellow {
    background-color: #FFFFAA;
}
.unset {
    background-color: #CCCCCC;
}

.source {
    background-color: #FFC929;
}


.results {
  clear: both;
  width: 100%;
}

.details table {
  padding-bottom: 1em;
}

.details td {
  padding: 1em;
}

.details pre {
  margin: 0;
}
