<% elements.each do |element| %>
  <div class="<%= element.name %>">
		<table>
			<tr><th><%= element.description %></th></tr>
 			<tr><td class="source">
				<pre class="source"><%= replace_tabs(element.content) %></pre>
 			</td></tr>
		</table>
	</div>
<% end %>
