<% optional_elements.each do |element| %>
	<% if crate.element(element) %>
	  <div class="<%= element %>">
			<table>
				<tr><th><%= processor.description(element) %></th></tr>
  			<tr><td class="source">
					<pre class="source"><%= replace_tabs(crate.element(element)) %></pre>
  			</td></tr>
			</table>
		</div>
	<% end %>
<% end %>
