<tr class="details" style="display:none">
  <td colspan="<%= result.processors.size + 1 %>">
	
	<% result.subresults.each do |subresult| %>
	  <h3>Results from <%= subresult.processor.describe %></h3>
		<%= render "detail_row/elements", 
			:elements => subresult.relevant_elements %>
	<% end %>

</tr>
