<tr class="details" style="display:none">
  <td colspan="3">
	
	<h3>Source</h3>
  <pre class="source"><%= replace_tabs(result.elements[:source]) %></pre>

	<h3>Target Code</h3>
  <table>
    <tr><th>Expected</th><th>Generated</th></tr>
    <%= replace_tabs(result.compilation_diff) %>
  </table>

	<h3>Execution Output</h3>
  <% if result.compilation_light.green? %>
	<table>
	  <tr><th>Expected</th><th>Generated</th></tr>
    <%= replace_tabs(result.output_diff) %>
  </table>
  <% else %>
  <p>No target code to execute...</p>
  <% end %>
  </td>
</tr>
