<tr class="details" style="display:none">
  <td colspan="<%= result.subresults.size + 1 %>">
	
	<% result.subresults.each do |subresult| %>
	  <h3>Results from <%= subresult.processor.describe %> (<%= subresult.path_kind %> path)</h3>
	
		<% if subresult.light.unset? %>
			<p>Not executed.</p>
		<% else %>
			<%= render "detail_row/elements", 
				:elements => subresult.relevant_elements %>
		<% end %>
	<% end %>

</tr>
