<tr class="details" style="display:none">
  <td colspan="<%= result.processors.size + 1 %>">
	
	<% result.processors.each do |processor| %>
	  <h3>Results from <%= processor.describe %></h3>
		<%= render "detail_row/elements", :processor => processor,
					:crate => result.crate, 
					:elements => processor.elements(result.crate) %>
	<% end %>

</tr>
