<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>CIAT Report</title>
		<link rel="stylesheet" href="ciat.css"/>
    <script src="prototype.js" type="text/javascript"></script>
	</head>
	
	<body>
  	<h1>CIAT Report</h1>
  	
  	<a href="#"
       onclick="$$('.results .details').invoke('toggle'); return false;">
      Expand/Collapse All
    </a>
  	
  	<table border="1" summary="Table of tests" class="results">
  		<tr id="header">
			  <th>Description</th>
				<% processors.each do |processor| %>
				  <th><%= processor.description %></th>
				<% end %>
  		</tr>

  		<% results.each do |result| %>
				<%= render "summary_row", :result => result %>
				<%= render "detail_row", :result => result %>
  		<% end %>
  	</table>
	</body>
</html>
