<tr class="summary">
	<td>
	  <a href="#" onclick="$(this).up('tr').next().toggle(); return false;" title="<%= result.filename %>">
	  <%= result.element(:description).content %>
	  </a>
  </td>
	<% result.subresults.each do |subresult| %>
	  <td class="<%= subresult.light.setting %>">
	    <%= light_to_word(subresult.light) %>
	  </td>
	<% end %>
</tr>
