<tr class="summary">
	<td>
	  <a href="#" onclick="$(this).up('tr').next().toggle(); return false;">
	  <%= result.elements[:description] %>
	  </a>
  </td>
	<% result.processors.each do |processor| %>
	  <td class="<%= result.lights[processor].setting %>">
	    <%= light_to_word(result.lights[processor]) %>
		</td>
	<% end %>
</tr>
