<tr class="summary">
	<td>
	  <a href="#" onclick="$(this).up('tr').next().toggle(); return false;" title="<%= result.filename %>">
	  <%= result.element(:description).content %>
	  </a>
  </td>
	<% result.processors.each do |processor| %>
	  <td class="<%= processor.light.setting %>">
	    <%= light_to_word(processor.light) %>
		</td>
	<% end %>
</tr>
